@media (min-width: 1200px) {
  .container,
  .container-lg,
  .container-md,
  .container-sm,
  .container-xl {
    max-width: 1240px !important;
  }
}

.repo-head {
  margin-top: 20px;
  margin-bottom: 10px;
}

.repoName {
  font-size: 18px;
}

.repoName > i {
  margin-right: 5px;
  color: #959da5;
}

.repoNameRep {
  font-weight: 600;
}

.repoStat {
  display: flex;
  justify-content: flex-end;
}

.repoStatList > li {
  display: inline-block;
  margin-left: 10px;
  border-radius: 0.25em;
  border: 1px solid rgba(27,31,35,.2);
}

.repoStatList > li > button {
  border-style: none;
  border: 1px solid #eff3f6;
  border-right: 1px solid rgba(27,31,35,.2);
  padding: 3px 10px;
  font-size: 12px;
  background-color: #eff3f6;
  color: #24292e;
}

.repoStatList > li > button:hover {
  background-color: #e6ebf1;
  border-color: rgba(27,31,35,.35);
}

.repoStatList > li > button > i {
  margin-right: 5px;
} 

.repoStatList > li > span {
  padding: 3px 10px;
  font-size: 12px;
}

.repoStatList > li > span:hover {
  cursor: pointer;
  color: #0366d6;
}

.issueContainer {
  height: auto;
  border: 1px solid #d1d5da;
}

.issueContainer > h3 {
  font-size: 20px;
}

.issueIcon {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #28a745;
}

.issueInfo {
  margin-top: 10px;
  margin-bottom: 10px;
}

.issueTitle {
  font-size: 16px;
  font-weight: 600;
  margin-right: 5px;
}

.statusBtn {
  margin-top: 0.1em;
  height: 20px;
  padding: 0.1em 4px;
  font-size: 12px;
  font-weight: 600;
  border-radius: 2px;
  border-style: none;
  margin-right: 10px;
}

.issueDesc {
  font-size: 14px;
  color: #586069;
}

.issueCom {
  display: flex;
  justify-content: center;
  align-items: center;
}

.issueComIcon:hover {
  cursor: pointer;
  color: #0366d6;
}

.issueComIcon > i {
  margin-right: 5px;
}

#logo {
  width: 30px;
  background-color: white;
  border-radius: 50%;
  padding: 3px;
}

.nav-bar {
  background-color: #24292e;
  padding: 0 !important;
}

#navbar-input {
  background-color: hsla(0, 0%, 100%, 0.125);
  border: none;
  color: white;
  min-height: 28px;
  height: 28px;
  transition: 1s;
}

#navbar-input:focus {
  background-color: white;
  border: none;
  width: 300px;
  transition: 1s;
  color: black;
}

.navbar-dark .navbar-nav .nav-link {
  color: white !important;
}

.navbar-dark .navbar-nav .nav-link:hover {
  color: rgba(255, 255, 255, 0.5) !important;
}

.banner > .banner-content > p {
  margin: 0;
  margin-block-start: 0px;
  margin-block-end: 0px;
}

.issues-list-control {
  margin-top: 30px;
  margin-bottom: 20px;
}

.filterMenu {
  display: inline-flex;
  align-items: center;
}

.filterBtn {
  margin-right: 10px;
}

.form-inline .form-control {
  width: 100% !important;
}

.add-new-issue {
  justify-content: flex-end;
  display: flex;
}

/* RESP part */

.banner {
  padding: 24px;
  text-align: center;
  border: 1px solid #e1e4e8 !important;
  margin-bottom: 24px;
}

.banner > .banner-content > p {
  margin: 0;
  margin-block-start: 0px;
  margin-block-end: 0px;
}

.respContainer {
  height: auto;
  border-top: 1px solid #d1d5da;
  border-bottom: 1px solid #d1d5da;
  padding-top: 15px;
}

.respIcon {
  color: #586069;
}

.respTitle {
  margin-left: 5px;
  font-size: 16px;
  color: #0366d6;
}

.resp-desc {
  font-size: 14px;
  color: #24292e;
  margin-top: 5px;
  margin-left: 4px;
}

.resp-footer {
  padding-left: 0;
  font-size: 12px;
  color: #586069;
  margin-left: 4px;
}

.resp-footer > li {
  display: inline;
  margin-right: 15px;
}

.starIcon:hover {
  cursor: pointer;
  color: #0366d6;
}

.resp-lang > i {
  color: #f1e05a;
}

.respLang {
  margin-left: 3px;
}

.resp-owner > p {
  text-align: center;
}

.resp-owner img {
  width: 50px;
  height: 50px;
  border-radius: 5px;
}

.respImg {
  display: flex;
  justify-content: center;
  align-items: center;
}

.respName {
  text-align: center;
  font-size: 14px;
  color: #24292e;
  margin-top: 5px;
}

/* //PROFILE */

.user-repo-header {
  padding-top: 16px !important;
  padding-bottom: 16px !important;
  border-bottom: 1px solid #e1e4e8 !important;
  border-top: 1px solid #e1e4e8 !important;
}

.create-user-repo {
  padding: 3px 10px;
  font-size: 12px;
  line-height: 20px;
  color: #fff !important;
  background-color: #28a745;
  background-image: linear-gradient(-180deg, #34d058, #28a745 90%);
  position: relative;
  display: inline-block;
  padding: 6px 12px;
  font-size: 14px;
  font-weight: 600;
  line-height: 20px;
  white-space: nowrap;
  vertical-align: middle;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background-repeat: repeat-x;
  background-position: -1px -1px;
  background-size: 110% 110%;
  border: 1px solid rgba(27, 31, 35, 0.2);
  border-radius: 0.25em;
  -webkit-appearance: none;
}

.img-container img {
  max-width: 100%;
}

#profile-name {
  padding-bottom: 16px !important;
  padding-top: 16px !important;
  font-size: 20px;
  font-style: normal;
  font-weight: 300;
  line-height: 24px;
  color: #666;
}

#edit-profile {
  width: 100%;
}

#edit-profile:hover {
  border-color: rgba(27, 31, 35, 0.35);
}

.btn-section {
  display: flex;
  justify-content: space-between;
}

#dropdown-basic-button,
#edit-profile {
  position: relative;
  display: inline-block;
  padding: 6px 12px;
  font-size: 14px;
  font-weight: 600;
  line-height: 20px;
  white-space: nowrap;
  vertical-align: middle;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  border: 1px solid rgba(27, 31, 35, 0.2);
  border-radius: 0.25em;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  color: #24292e;
  background-color: #eff3f6;
  background-image: linear-gradient(-180deg, #fafbfc, #eff3f6 90%);
  background-image: none;
  color: #24292e;
}

#dropdown-basic-button:hover {
  background-color: #e6ebf1;
  background-image: linear-gradient(-180deg, #f0f3f6, #e6ebf1 90%);
  background-position: -0.5em;
  border-color: rgba(27, 31, 35, 0.35);
  box-shadow: inset 0 0.15em 0.3em rgba(27, 31, 35, 0.15);
}

.create-user-repo:hover {
  background-color: #269f42;
  background-image: linear-gradient(-180deg, #2fcb53, #269f42 90%);
  background-position: -0.5em;
  border-color: rgba(27, 31, 35, 0.5);
}

.profile-wrapper {
  padding-top: 30px;
}

.each-user-repo {
  padding-top: 24px !important;
  padding-bottom: 24px !important;
  border-bottom: 1px solid #e1e4e8 !important;
}

.list-repo {
  list-style: none;
  padding: 0;
}

.user-repo-title {
  font-weight: 600;
  font-size: 20px;
  color: #0366d6;
}

.user-repo-desc {
  color: #586069 !important;
  margin-bottom: 8px !important;
}

.nav-user .dropdown-menu {
  right: 0 !important;
  left: auto !important;
}

#dropdown-basic-button img {
  width: 20px;
  height: 20px;
}

.nav-user .dropdown button {
  background-color: #24292e !important;
}

.nav-user .dropdown:hover {
  background-color: #24292e !important;
}

.sign-in-as {
  padding: 0.25rem 1.5rem;
  display: flex;
  flex-direction: column;
  border-bottom: 1px solid #e1e4e8 !important;
}
.create-iss-form {
  border: 1px solid #d1d5da;
  padding: 20px;
  border-radius: 10px;
}
.create-iss-avatar img
{
    max-width: 100%;
}

.repo-header-user
{
    border-top: none !important;
}
.user-info-wrapper
{
    border-bottom: 1px solid #e1e4e8 !important;
    padding-top: 16px;
    padding-bottom: 16px;
}
.user-info-wrapper .img-container
{
    text-align: center;
}
.user-info-wrapper .img-container img
{
    max-width: 50%;
}
.user-info h1
{
    min-height: 32px;
    margin-top: 0;
    margin-bottom: 0;
    font-size: 20px;
    font-weight: 400;
}
.user-info p
{
    color: #6a737d!important;
    font-size: 14px;
}
.post-cmt-form
{
  padding: 10px;
  border-top: 1px solid rgb(209, 213, 218);
  padding-top: 30px;
margin-top: 30px;
}
.post-time
{
  background-color: #f1f8ff;
  border-bottom-color: #c0d3eb;
  padding: 4px;
  font-weight: 400!important;
    font-size: 14px!important;
}
.red
{
  color: crimson;
}